<!DOCTYPE html>
<html ng-app="taskous">
<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
</head>
<body ng-controller="MainController">
<div class="navbar navbar-static-top navbar-inverse" style="margin: -1px -1px 0;">
    <div class="navbar-inner">
        <div class="container" style="width: auto; padding: 0 20px;">
            <a class="brand" href="#">taskous</a>
            <ul class="nav">
                <li><a href="#">Home</a></li>


            </ul>

            <ul class="nav pull-right">
                <li>
                    <p class="navbar-text pull-right"><i class="icon-user icon-white"></i> {{user.username}}</p>
                    </li>
                <li><a ng-click="logOut()" class="pull-left">Log out</a></li>
            </ul>




        </div>
    </div>
</div>
<div class="container">

    <div class="row" ng-controller="AlertController">
        <div class="span12 h50 pt10">
            <div class="alert alert-{{ alert.type }}" ng-show="showAlert">
                <button type="button" class="close" ng-click="hideAlert()">&times;</button>
                {{ alert.message }}
            </div>
        </div>
    </div>

    <div ng-view></div>
</div>

<div style="display: none;" id="modalDialogHtml">
    <h1 style="color: #ffffff">Hellos</h1>
</div>
<!-- Javascript library files here -->
<script src="/js/lib/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/js/lib/bootstrap.js"></script>
<script type="text/javascript" src="/js/lib/angular.min.js"></script>
<script type="text/javascript" src="/js/lib/angular-route.min.js"></script>
<script type="text/javascript" src="/js/lib/angular-resource.min.js"></script>


<!-- Own Javascript files -->
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/controllers.js"></script>
<script type="text/javascript" src="/js/services.js"></script>

<script type="text/javascript">
    //alert('hi');
</script>
</body>
</html>
