<!DOCTYPE html>
<html ng-app>
<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href="/css/lib/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/lib/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="container" ng-controller="SimpleController">
    <input type="text" ng-model="searchText"/>    
        <ul>
            <li ng-repeat="cust in customers | filter: searchText | orderBy: 'name'">{{cust.name}} - {{cust.city}}</li>
        </ul>
   </div>

   <!-- Javascript library files here -->
   <script src="https://code.jquery.com/jquery.js"></script>
   <script type="text/javascript" src="/js/lib/bootstrap.js"></script>
   <script type="text/javascript" src="/js/lib/angular.min.js"></script>
   <script type="text/javascript" src="/js/app.js"></script>

   <!-- Own Javascript files -->
   <script type="text/javascript" src="/js/app/controllers/SimpleController.js"></script>
</body>
</html>
