<!DOCTYPE html>
<html ng-app>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="navbar navbar-static-top navbar-inverse" style="margin: -1px -1px 0;">
            <div class="navbar-inner">
                <div class="container" style="width: auto; padding: 0 20px;">
                    <a class="brand" href="#">taskous</a>
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a ng-click="logOut()">Log out</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                {{currentProject.title}}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="project in projects"><a tabindex="-1" ng-click="selectProject(project)" >{{project.title}}</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="#">Create New</a></li>
                            </ul>
                        </li>
                    </ul>
                    <a href="#/project/create" class="btn btn-warning pull-right">Create project</a>
                </div>
            </div>
        </div>
        <div class="container" ng-controller="MainController">

            <div class="row">
                <div class="span12 h50 pt10">
                    <div class="alert alert-{{ alert.type}}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        mess- {{ alert.message}}
                    </div>
                </div>
            </div>

            <ul class="nav nav-tabs">
                <li ng-class="{active : tabs.login}">
                    <a href="#" ng-click="showLoginTab()">Login</a>
                </li>
                <li ng-class="{active : tabs.register}">
                    <a href="#" ng-click="showRegisterTab()">Register</a>
                </li>
            </ul>

            <div class="whiteBg p20">
                <div ng-show="tabs.login">
                   
                    <form class="form-horizontal" action="/login" method="post">
                        <div class="control-group">
                            <label class="control-label" for="inputEmail">Email</label>
                            <div class="controls">
                                <input type="text" name="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputPassword">Password</label>
                            <div class="controls">
                                <input type="password" name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox"> Remember me
                                </label>
                                <button type="submit" class="btn">Sign in</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div ng-show="tabs.register">
                   
                    <form class="form-horizontal" ng-submit="signUp()">
                        <div class="control-group">
                            <label class="control-label" for="inputEmail">Username</label>
                            <div class="controls">
                                <input type="text" name="email" placeholder="Email" ng-model="newUser.username">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputEmail">Email</label>
                            <div class="controls">
                                <input type="text" name="email" placeholder="Email"  ng-model="newUser.email">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputPassword">Password</label>
                            <div class="controls">
                                <input type="password" name="password" placeholder="Password" ng-model="newUser.password">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                
                                <button type="submit" class="btn">Sign up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <!-- Javascript library files here -->
        <script src="/js/lib/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="/js/lib/bootstrap.js"></script>
        <script type="text/javascript" src="/js/lib/angular.min.js"></script>
        <script type="text/javascript" src="/js/lib/angular-route.min.js"></script>
        <script type="text/javascript" src="/js/lib/angular-resource.min.js"></script>

        <script type="text/javascript">
                    function MainController($scope, $http) {
                        $scope.tabs = {
                            login: true,
                            register: false
                        };

                        $scope.showLoginTab = function() {
                            $scope.tabs.login = true;
                            $scope.tabs.register = false;
                        };

                        $scope.showRegisterTab = function() {
                            $scope.tabs.login = false;
                            $scope.tabs.register = true;
                        };

                        $scope.signUp = function () {
                            $http
                            .post('/user', $scope.newUser)
                            .success(function  (user) {
                                console.log(user, 'redirecting..');
                                location.href = "/";
                            });
                            
                        }
                    }
        </script>
    </body>
</html>

